.fondo {
    background-color: beige;
}
.chibi {
    width: 100px;
    height: 100px;
    background-image: url('/images/anubis.png');
    animation: run 1s steps(12) infinite, animacion1 10s infinite;
}

.chibi2 {
    width: 100px;
    height: 100px;
    background-image: url('/images/succubus.png');
    animation: run 1s steps(12) infinite, animacion1 5s infinite;
}

.chibi3 {
    width: 100px;
    height: 100px;
    background-image: url('/images/hell-knight.png');
    animation: run 1s steps(12) infinite, animacion1 9s infinite;
}

.chibi4 {
    width: 100px;
    height: 100px;
    background-image: url('/images/old-guy.png');
    animation: run 1s steps(12) infinite, animacion1 15s infinite;
}

.chibi5 {
    width: 100px;
    height: 100px;
    background-image: url('/images/pirate.png');
    animation: run 1s steps(12) infinite, animacion1 8s infinite;
}

@keyframes run  {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
    
}
@keyframes animacion1 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(900px);
    }

    75% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(1800px);
        
    }
    
}
